<template>
  <div class="dashboard-container">
    <h3 class="ipv6">IPv6</h3>
    <el-form
      class="el-form"
      :rules="rules"
      :model="ruleForm"
      ref="ruleForm"
      label-position="right"
      label-width="120px"
    >
      <el-form-item label="开启：">
        <el-switch
          v-model="ruleForm.values"
          active-color="#0b51a3"
          inactive-color="#dcdfe6"
        >
        </el-switch>
      </el-form-item>
      <el-form-item label="联网方式：">
        <el-select @change="selectOnline" v-model="onlineValue" size="medium">
          <el-option
            v-for="item in online"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <div class="static" v-show="onlineFlag == 1">
        <el-form-item label="IP地址：" prop="ipAddress">
          <el-input v-model="ruleForm.ipAddress"></el-input>
        </el-form-item>
        <el-form-item label="网关：" prop="gateway">
          <el-input v-model="ruleForm.gateway"></el-input>
        </el-form-item>
        <el-form-item label="首选DNS：" prop="firstDns">
          <el-input v-model="ruleForm.firstDns"></el-input>
        </el-form-item>
        <el-form-item label="备选DNS：" prop="secondDns">
          <el-input v-model="ruleForm.secondDns"></el-input>
        </el-form-item>
      </div>

      <div class="dynamic" v-show="onlineFlag == 2 || onlineFlag == 3">
        <div class="isp" v-show="dnsFlag == 1">
          <el-form-item label="首选DNS：">
            <span> 2409:8057:2000:0004:0000:0000:0000:0008 </span>
          </el-form-item>
          <el-form-item label="备选DNS：">
            <span> 2409:8057:2000:0004:0000:0000:0000:0008 </span>
          </el-form-item>
        </div>
        <div class="access" v-show="onlineFlag == 3">
          <el-form-item label="宽带账号：" prop="account">
            <el-input v-model="ruleForm.account"></el-input>
          </el-form-item>
          <el-form-item label="宽带密码：" prop="password">
            <el-input v-model="ruleForm.password" show-password></el-input>
          </el-form-item>
        </div>
        <el-form-item label="DNS地址：">
          <el-select @change="selectDns" v-model="dnsValue" placeholder="请选择">
            <el-option
              v-for="item in dns"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <div class="dns" v-show="dnsFlag == 2">
          <el-form-item label="首选DNS：" prop="firstDns">
            <el-input v-model="ruleForm.firstDns"></el-input>
          </el-form-item>
          <el-form-item label="备选DNS：" prop="secondDns">
            <el-input v-model="ruleForm.secondDns"></el-input>
          </el-form-item>
        </div>
        <el-form>
          <el-button class="recover">重新获取</el-button>
        </el-form>
      </div>

      <div class="lan" v-show="onlineFlag == 1 || onlineFlag == 2 || onlineFlag == 3">
        <h3 class="ipv6">Lan</h3>
        <el-form-item label="指定类型：">
          <el-select @change="selectLan" v-model="lanValue" placeholder="请选择">
            <el-option
              v-for="item in lan"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="地址：" prop="lanAddress">
          <el-input v-model="ruleForm.lanAddress"></el-input>
          <span class="lan-font">/64</span>
        </el-form-item>
      </div>

      <el-form-item>
        <el-button @click="submitForm">应用</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import {
  password,
  account,
  lanAddress,
  firstDns,
  secondDns,
  gateway,
  ipAddress,
} from "../../utils/validation";
export default {
  name: "Dashboard",
  data() {
    return {
      ruleForm: {
        values: true,
        ipAddress: "",
        gateway: "",
        firstDns: "",
        secondDns: "",
        account: "",
        password: "",
        lanAddress: "",
      },
      rules: {
        ipAddress: [{ validator: ipAddress, trigger: "blur" }],
        gateway: [{ validator: gateway, trigger: "blur" }],
        firstDns: [{ validator: firstDns, trigger: "blur" }],
        secondDns: [{ validator: secondDns, trigger: "blur" }],
        lanAddress: [{ validator: lanAddress, trigger: "blur" }],
        account: [{ validator: account, trigger: "blur" }],
        password: [{ validator: password, trigger: "blur" }],
      },
      online: [
        {
          value: 1,
          label: "静态IP",
        },
        {
          value: 2,
          label: "动态IP（SLAAC/DHCPv6）",
        },
        {
          value: 3,
          label: "宽带连接",
        },
        {
          value: 4,
          label: "中继模式",
        },
      ],
      dns: [
        {
          value: 1,
          label: "从ISP动态获取",
        },
        {
          value: 2,
          label: "使用下面的DNS地址",
        },
      ],
      lan: [
        {
          value: 1,
          label: "DHCPv6",
        },
        {
          value: 2,
          label: "SLAAC+stateless DHCP",
        },
        {
          value: 3,
          label: "SLAAC+RDNSS",
        },
      ],
      onlineValue: "中继模式",
      dnsValue: "从ISP动态获取",
      lanValue: "DHCPv6",
      onlineFlag: 4,
      dnsFlag: 1,
      lanFlag: "",
    };
  },
  methods: {
    selectOnline(value) {
      this.$refs["ruleForm"].resetFields();
      this.onlineFlag = value;
    },
    selectDns(value) {
      this.dnsFlag = value;
    },
    selectLan(value) {
      this.lanFlag = value;
    },
    submitForm() {
        let validateList = [];
        if(this.onlineFlag === 1){
          this.$refs["ruleForm"].validateField(["ipAddress","gateway","firstDns","secondDns","lanAddress"],(err) => {
            validateList.push(err);
          });
          if (validateList.every((item) => item === '')) {
            console.log("静态IP",{"开关":this.ruleForm.values,"ip地址":this.ruleForm.ipAddress,"网关":this.ruleForm.gateway,"首选DNS":this.ruleForm.firstDns,"备选DNS":this.ruleForm.secondDns,"lan地址":this.ruleForm.lanAddress})
          }
        }else if(this.onlineFlag === 2){
          if(this.dnsFlag === 1){
            this.$refs["ruleForm"].validateField(["lanAddress"],(err) => {
             validateList.push(err);
            });
            if (validateList.every((item) => item === '')) {
             console.log("动态IP（SLAAC/DHCPv6）",{"开关":this.ruleForm.values,"lan地址":this.ruleForm.lanAddress})
            }
          }else if(this.dnsFlag === 2){
            this.$refs["ruleForm"].validateField(["firstDns","secondDns","lanAddress"],(err) => {
             validateList.push(err);
            });
            if (validateList.every((item) => item === '')) {
             console.log("动态IP（SLAAC/DHCPv6）",{"开关":this.ruleForm.values,"首选DNS":this.ruleForm.firstDns,"备选DNS":this.ruleForm.secondDns,"lan地址":this.ruleForm.lanAddress})
            }
          }
        }else if(this.onlineFlag === 3){
          if(this.dnsFlag === 1){
            this.$refs["ruleForm"].validateField(["account","password","lanAddress"],(err) => {
             validateList.push(err);
            });
            if (validateList.every((item) => item === '')) {
              console.log("宽带连接",{"账号":this.ruleForm.account,"密码":this.ruleForm.password,"lan地址":this.ruleForm.lanAddress})
            }
          }else if(this.dnsFlag === 2){
            this.$refs["ruleForm"].validateField(["account","password","firstDns","secondDns","lanAddress"],(err) => {
             validateList.push(err);
            });
            if (validateList.every((item) => item === '')) {
              console.log("宽带连接",{"账号":this.ruleForm.account,"密码":this.ruleForm.password,"首选DNS":this.ruleForm.firstDns,"备选DNS":this.ruleForm.secondDns,"lan地址":this.ruleForm.lanAddress})
            }
          }
        }else if(this.onlineFlag === 4){
          console.log("中继模式",{"开关":this.ruleForm.values})
        }
    },
  },
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
    padding: 50px 200px;
  }
}
.ipv6 {
  color: #0b51a3;
}
.el-form {
  .el-select {
    width: 80%;
  }
  .el-input {
    width: 80%;
  }
  .el-button {
    background-color: #0b51a3;
    color: #fff;
    width: 90px;
    height: 40px;
  }
  .recover {
    margin-left: 120px;
  }
  .lan-font {
    margin-left: 18px;
    font-size: 18px;
  }
}
</style>
